DATABASE_URL="postgresql://postgres:postgres@localhost:5432/aura?schema=public"
JWT_ACCESS_SECRET="replace-with-at-least-32-characters"
JWT_REFRESH_SECRET="replace-with-another-32-character-secret"
APP_URL="http://localhost:5173"
API_URL="http://localhost:3000"
PORT=3000
REDIS_URL="redis://localhost:6379"
VITE_API_URL="http://localhost:3000/api/v1"

